* {
    box-sizing: border-box;
}

.task1,
.task2 {
    margin: 20px;
    font-size: 20px;
}

.task1>button,
.task2 button,
.btn-img {
    display: inline-block;
    padding: 20px;
    font-size: inherit;
}

.task1>p,
.task2 p {
    display: inline-block;
    margin-left: 50px;
}

.activ-list-item {
    list-style: none;
    font-size: 22px;
    background-color: green;
    overflow: hidden;
    width: fit-content;
    margin: 5px 0;
}

.wrap-task21 {
    width: fit-content;
    margin: 20px;
    padding: 30px;
    background-color: #d8d8d8;
}

.items-block {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.items-block>div {
    width: 150px;
    height: 150px;
}

.item-block1 {
    background-color: green;
}

.item-block2 {
    background-color: yellow;
}

.item-block3 {
    background-color: goldenrod;
}

#img-task22 {
    display: block;
    margin: 20px;
}